.services {
  padding: 100px 0;
}
.services-title {
  margin-bottom: 60px;
}



.services__item-description {
  max-width: 234px;
  margin: 0 auto 32px;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.60;
  text-align: center;
  letter-spacing: -0.015em;
}

.services__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  max-width: 330px;
  width: 100%;
  height: 442px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0px 2px 20px rgba(187, 187, 187, 0.15);
  transition: all 0.3s ease;
  cursor: pointer;
}
.services__item-title {
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  letter-spacing: -0.015em;
}

.service-swiper-button-next, .service-swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  margin-top: -60px;
  z-index: 10;
  cursor: pointer;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.service-swiper-button-next {
  right: 0;
  background-image: url('/images/service-next-button-active.svg');
}

.service-swiper-button-prev {
  left: 0;
  background-image: url('/images/service-prev-button-active.svg');
}

.services__icon {
  margin: 0 auto 40px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: contain;
}

.services__icon--1 {
  width: 59px;
  background-image: url('/images/services1-dark.png');
}
.services__icon--2 {
  width: 61px;
  background-image: url('/images/services2-dark.png');
}

.services__icon--3 {
  width: 33px;
  background-image: url('/images/services3-dark.png');
}

.services__icon--5 {
  width: 50px;
  background-image: url('/images/services5-dark.png');
}

@media screen and (max-width: 991px) {
  .services__item {
      max-width: 100%;
  }
}

/* xs */
@media screen and (max-width: 475px) {
  .services {
    padding: 50px 0;
  }
}