.header {
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  min-height: var(--header-height);
  /* background-color: var(--color-dark-alternate); */
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-contacts {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.header-logo {
  flex-shrink: 0; /* элемент не будет уменьшаться по размеру */
  height: var(--header-height);
  align-items: center;
  display: flex; 
}

.header__phone {
  font-size: var(--size-xl);
  font-weight: 700;
  line-height: 1.65;
}

.header-menu-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
}

.header-menu-link {
  display: inline-flex;
  align-items: center;
  column-gap: 7px;
  height: var(--header-height);
  text-decoration: none;
  text-transform: uppercase;
  font-size: clamp(18px, 1.46vw, var(--size-xl));
  letter-spacing: 1.2px;
}

.header-menu-link.is-current::after {
  content: "";
  width: 5px;
  aspect-ratio: 1;
  background-color: currentColor;
  border-radius: 50%;
}

.header-actions {
  display: none;
  column-gap: 40px;
}


.header-burger-button {
   position: fixed;
  top: 2rem;
  right: 2rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 4px;
  width: 40px;
  aspect-ratio: 1;
  padding-left: 8px;
  color: var(--color-dark);
  /* background-color: transparent; */
  background-color: var(--color-light);
  border: var(--border-dark);
  border-radius: 50%;
  z-index: 15;
}

.header-burger-button:hover {
  /* color: var(--color-darks); */
  border-color: currentColor;
}

.header-burger-button-line {
  width: 6px;
  height: 1px;
  color: var(--color-darks);
  border-color: currentColor;
  background-color: currentColor;
  box-shadow: 16px 0 0 currentColor;
}

/* 2xl */
@media screen and (max-width: 1536px) {
}

/* xl */
@media screen and (max-width: 1280px) {
}

/* lg */
@media screen and (max-width: 1024px) {}

/* md */
@media screen and (max-width: 768px) {

  .header-actions {
    display: flex;
  }
  .header-menu-list {
    display: none;
  }

  .header-burger-button {
    right: 1rem;
  }
}

/* xs */
@media screen and (max-width: 475px) {
  .header-burger-button {
    right: 1rem;
  }
}

/* sm */
@media screen and (max-width: 640px) {
}
