@import url("./normalize.css");
@import url('./components/header.css');
@import url('./components/mobile-nav.css');
@import url('./components/hero.css');
@import url('./components/slider.css');
@import url('./components/advantages.css');
@import url('./components/services.css');
@import url('./components/contacts.css');
@import url('./components/footer.css');









:root {
  --color-dark: #000000;
  --color-dark-alternate: #131619;
  --color-light: #fbfbfb;
  --color-dark-gray: #404040;
  --color-light-gray: #C4C4C4;
  --color-silver: #f2f2f2;
  --color-yellow: #fdec40;
  --color-blue:#1E90FF;
  --border-radius: 30px;
  --border: 1px solid var(--color-light);
  --border-dark: 1px solid var(--color-dark);
  --font-family-base: 'Heebo', sans-serif;
  --font-family-accent: 'Yantramanav', sans-serif;

  --input-height: 54px;

  --container-width: 1300px;
  --container-padding-x: 15px;

  --transition-duration: 0.2s;

  --header-height: 80px;


      /* sizes */

      --size-xxs: 0.5rem;
      --size-xs: 0.75rem;
      --size-sm: 0.875rem;
      --size-base: 1rem;
      --size-lg: 1.125rem;
      --size-xl: 1.25rem;
      --size-2xl: 1.5rem;
      --size-3xl: 1.875rem;
      --size-4xl: 2.25rem;
      --size-5xl: 3rem;
      --size-6xl: 3.75rem;
      --size-7xl: 4.5rem;
      --size-8xl: 6rem;
      --size-9xl: 8rem;
      --size-10xl: 10rem;
}

body {
  font-family: var(--font-family-base);
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-light-gray);
  background-color: var(--color-light);
}
/*  currentColor наследует цвет */
svg *[fill] { fill: currentColor }
svg *[stroke] { stroke: currentColor }

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}
/* если не применется анимация к иконке */

svg * {
  transition-property: fill, stroke;
}

a {
  color: var(--color-dark-gray);
  text-decoration: none;
}

a:hover {
  color: var(--color-light-gray);
}

p {
  margin-block: 0; /* обнуляем вертикалные отступы */
}

p:not([class]):not(:last-child) { /* отсуствие селектора клас */
  margin-bottom: 24px;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.container-wide {
  max-width: 1920px;
  margin-inline: auto;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-dark-gray);
}

/* УТИЛИТАРНЫЕ КЛАССЫ*/
.title-medium {
  font-size: clamp(20px, 2.08vw, 40px);
  line-height: 1.3;
  
}

.title-big {
  font-size: clamp(32px, 3.12vw, 50px);
  text-align: center;
}

.section-description {
  font-size: var(--size-lg);
  line-height: 1.50;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-dark);
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  width: 100%;
  height: var(--input-height);
  padding-inline: 25px;
  color: var(--color-light);
  background-color: transparent;
  border: 1px solid var(--color-light-gray);
  border-radius: var(--border-radius);
}

.input::placeholder,
select.input:invalid {
  color: var(--color-light-gray);
}

.input:hover {
  border-color: var(--color-light);
}

.input:focus {
  color: var(--color-dark);
  background-color: var(--color-light-gray);
  outline: none;
}

.button {
  display: inline-flex;
  align-items: center;
  height: 38px;
  padding-inline: 26px;
  font-size: 12px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: var(--color-light);
  border: none;
  border-radius: var(--border-radius);
}

.button:hover {
  background-color: var(--color-light-gray);
}

.button.transparent {
  position: relative;
  height: var(--input-height);
  padding-left: 31px;
  padding-right: 80px;
  color: var(--color-light);
  background-color: transparent;
  border: var(--border);
}

.button.transparent::after {
  content: '';
  position: absolute;
  right: 0;
  height: 100%;
  aspect-ratio: 1;
  background: url('/icons/arrow-top-right.svg') center/70% no-repeat;
  border: var(--border);
  border-radius: 50%;
}

.button.transparent:hover {
  color: var(--color-dark);
  background-color: var(--color-light-gray);
}



@media screen and (max-width: 768px) {
  .section-description {
    text-transform: capitalize;
  }
}

@media screen and (max-width: 550px) {
  .section-description {
    font-size: var(--size-base);
  }
}